.conteiner{
    display: flex;
    justify-content: space-between;
    height: 900px;
    width:100%;
    background-image: url(./image/1.jpg);
}
img{
    display: flex;
    width:30px;
    height: 30px;
    margin: 30px;
}
ul{
    display: flex;
    list-style: none;
    color: aliceblue;
}
li{
    margin-right: 20px;
    border-left: 2px solid;
}
li:first-child{
    border-left:none;
}
p{
    align-self: flex-end;
    color: aliceblue;
    font-size: 30px;
}
@media(max-width:768px){
    .conteiner{
        max-width: 768px;
        width:100% ;
    }
    ul{
        display: none;
    }
}
.conteiner2{
    display: flex;
    margin-left: 100px;
}
.true{
    margin-left: 30px;
    background-color: rgb(24, 24, 180);
    border: 1px solid;
    color: aliceblue;
}
.conteiner3{
    flex-wrap: wrap;
}
.conteiner3 p {
    color: black;
}
.conteiner2,.conteiner3{
    margin-left: 40px;
}
@media(max-width:768px){
    .conteiner2,.conteiner3{
        margin-left: 30px;
        width:100%;
        font-size: 20px;
        
    }
}
.conteiner4{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 40px;
}
@media (max-width:768px) {
    .conteiner4{
        flex-wrap: wrap;
        margin-left: 30px;
        font-size: 20px;
        width: 100%;
        justify-content: space-between;
    }
}
.conteiner5{
    max-width: 100%;
    margin-top: 20px;
    justify-content: space-between;
    display: flex;
    margin-left: 30px;
    flex-wrap: wrap;
}
.box1{
    width: 840px;
    min-height: 340px;
    height: 100%;
    background-color: blanchedalmond;
    
}
.box1 h3{
    padding-left: 40px;
    font-size: 25px;
    margin-top: 50px;
}
.box1 p{
    color: black;
    padding-left: 40px;
    font-size: 20px;
    margin-top: 40px;
}
.box2{
    margin-top: 20px;
    width:400px;
    height: 340px;
    background-color: blanchedalmond;
}
.box1 h3{
    padding-left: 40px;
    font-size: 25px;
    margin-top: 50px;
}
.box2 p{
    color: black;
    padding-left: 40px;
    font-size: 20px;
    margin-top: 40px;
}
.box2 h3{
    padding-left: 40px;
    font-size: 25px;
    margin-top: 50px;
}
.conteiner6{
    max-width: 100%;
    margin-top: 20px;
    justify-content: space-between;
    display: flex;
    margin-left: 30px;
    flex-wrap: wrap;
}
.box3{
    display: flex;
    width: 840px;
    max-width: 100%;
    min-height: 340px;
    height: 100%;
    background-color: blanchedalmond;
}
.box3 h3{
    padding-left: 40px;
    font-size: 25px;
}
.box3 p{
      color: black;
      font-size: 10px;

}
@media(max-width:768px){
    .conteiner5,.conteiner6{
         width: 400px;
    }
}
